html,
body,
#root {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #1424ff;
    color: white;
}
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
h1, h2, h3 {
    font-weight: normal;
    font-family: 'Space Mono', monospace;
}
h1 {}
h2 {
    font-size: 1.15em;
    margin: 0;
    text-align: center;
    color: darkblue;
    font-weight: 200;
}
h3 {
    font-size: .9em;
    margin-top: 2em;
    font-weight: normal;
    text-transform: uppercase;
}
p {
    font-family: "Droid Sans", sans-serif;
    font-size: 1.05em;
    line-height: 1.45em;
}
a:link,
a:visited,
a:active {
    text-decoration: none;
}
.name {
    text-transform: uppercase;
}
.App {
    position: relative;
    display: flex;
    flex-flow: column;
}
.TopBar {
    position: fixed;
    top: 50px;
    left: 50px;
    z-index: 99;
    font-family: "Space Mono";
}
.Title {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.title-dot {
    color: white;
}
.title-a {
    color: red;
}
.title-r {
    color: yellow;
}
.title-t {
    color: cyan;
}
.Title .title-bg {
    background-color: darkblue;
    padding: 1em;
    width: 200px;
    height: 50px;
    font-style: italic;
    opacity: .7;
    box-shadow: 5px 5px 0 0 black;
}
.Title .title-text a {
    position: fixed;
    color: white;
    z-index: 99;
    top: 38px;
    left: 65px;
    font-size: 1.15em;
    text-decoration: none;
}
.Title .title-text a:hover {
    font-style: italic;
    left: 60px;
    traisition: .2s;
}

.Title a,
.Links a {
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
.Links {
    position: fixed;
    left: 350px;
    top: 60px;
    font-size: 2.4em;
}
.Links a {
    margin-right: 50px;
    color: darkblue;
    border-bottom: 5px dotted darkblue;
}
.Links a:hover {
    /*left: 345px;*/
    color: white;
    transition: .2s;
    font-style: italic;
    border-bottom: 5px dotted yellow;
}
.back-link {
    position: absolute;
    z-index: 99;
    top: 150px;
    left: 50px;
    color: white;
    font-size: 2em;
}
.back-link a {
    cursor: pointer;
}
.back-link a:hover {
    color: aqua;
}
.animated-page-wrapper {
    width: 100%;
    height: 100%;
}
.page,
.page-info,
.drawing {
    position: absolute;
}
.page,
.page-info {
    top: 100px;
}
.page {
    top: 100px;
    margin: 50px 0 0 50px;
}
.drawing {
    /*top: -10px;*/
    margin: 0;
    padding: 0;
}
.drawing canvas {
    height: 100%;
    width: 100%;
}
.drawing-title {
    position: absolute;
    top: 200px;
    left: 75px;
    z-index: 99;
    color: white;
}
.page-info {
    top: 100px;
    padding: 2em;
    width: 600px;
    margin: 100px 0 0 50px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    box-shadow: 5px 5px 0 0 darkblue;
}
div.drawings-list {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
div.drawings-list .drawing-thumb {
    width: 150px;
    height: 150px;
    display: inner-block;
    border-top: 1px solid darkblue;
    border-left: 1px solid darkblue;
    box-shadow: 5px 5px 0 0 darkblue;
    padding: 1em;
    margin: 50px 50px 0 0;
}
div.drawings-list .drawing-thumb:hover {
    box-shadow: 5px 5px 0 0 aqua;
    border-top: 1px solid aqua;
    border-left: 1px solid aqua;
    transition: .2s;
}
div.drawings-list .drawing-thumb:hover h2 {
    padding-bottom: .5em;
    color: aqua;
    border-bottom: 3px dotted aqua;
    transition: .2s;
}
div.info-pane {
  position: absolute;
  color: darkblue;
  right: 10px;
  bottom: 20px;
  width: 200px;
  z-index: 99;
  padding: .5em;
  font-size: .8em;
  line-height: 1.25em;
  background-color: aqua;
  box-shadow: 5px 5px 0 0 darkblue;
}
div.info-pane p,
div.info-pane li,
div.info-pane h4,
div.controls {
  font-family: 'Space Mono', sans-serif;
}
div.info-pane p {
  margin: 0;
}
div.info-pane p.description {
  margin: .75em 0 1.25em 0;
}
.instructions {
  margin: .75em 0;
}
.instructions ul {
  padding: 0 0 0 2em;
}
.instructions ul li {
  margin: .25em 0;
}
.controls {
  margin: .5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.reset-canvas,
.modal-toggle,
.github-link {
    cursor: pointer;
}
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: red;
}
